*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --main-color: #e37b7c;
    --black-text-color: #292929;
    --white-color: #ffffff;
    --black-small-opacity: rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button,
input {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(45deg, #726193 20%, var(--main-color) 60%, #ffe4b4);
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

header {
    text-align: center;
    color: var(--white-color);
    padding-top: 25px;
}

header h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: 'Slackey', cursive;
    text-shadow: 0px 5px var(--black-small-opacity);
}

header h2 {
    font-size: 0.9em;
    font-weight: 400;
    text-shadow: 1px 1px var(--black-small-opacity);
}

main {
    width: 90%;
    border: 3px solid #d6d6d6;
    box-shadow: 0 0 15px 5px var(--black-small-opacity);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 12px;
    color: var(--black-text-color);
}

.main-header {
    text-align: center;
    padding: 0px 0 7px 0;
    border-bottom: 1px solid var(--black-small-opacity);
}

.main-header h2 {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 7px;
}

.main-header-info {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.load-and-display-word {
    display: grid;
    grid-template-areas: "loading-word";
}

.loading-word {
    grid-area: loading-word;
    border: 3px solid #d3d3d3;
    border-top: 3px solid var(--main-color);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: loading-spinner 1.2s linear infinite;  
}

@keyframes loading-spinner {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.word-to-be-typed {
    grid-area: word-to-be-typed;
    display: none;
    font-weight: 700;
    font-size: 0.95em;
    color: rgba(114, 97, 147, 0.9);
    animation: glowing-word 4s infinite;
}

@keyframes glowing-word {
    0% { color: rgba(114, 97, 147, 0.9) } 
    50% { color: var(--main-color) }
    100% { color: rgba(114, 97, 147, 0.9) }
} 

.remaining-time {
    font-size: 0.85em;
    margin: auto 0;
}

.main-input {
    margin: 15px 0;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--black-small-opacity);
}

.input-word {
    width: 90%;
    background-color: #eeeeee;
    border: 1px solid #e2e2e2;
    color: var(--black-text-color);
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 0.95em;
    text-align: center;
    transition: background-color 0.4s linear;
}

.input-word:focus {
    background-color: var(--white-color);
}

.main-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
}

.main-footer p {
    color: var(--main-color);
    font-weight: 700;
}

.main-footer span {
    color: var(--black-text-color);
    font-weight: 400;
}

.game-over {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.display-game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-header img {
    width: 32px;
}

.game-over-header h2 {
    font-size: 0.95em;
    margin: 0 4px;
    color: #393e46;
}

.game-over-main {
    margin: 8px 0 12px 0;
}

.game-over-main p {
    font-size: 0.9em;
}

.game-over-main p:nth-of-type(2) {
    margin: 1px 0;
}

.game-over-main span {
    font-weight: 700;
    color: var(--main-color);
}

.game-over-footer button {
    border: 2px solid var(--black-small-opacity);
    border-radius: 4px;
    padding: 8px 14px;
    font-size: 0.9em;
    font-weight: 700;
    background-color: var(--main-color);
    color: var(--white-color);
}

.button-open-settings {
    position: absolute;
    bottom: 30px;
    left: 5%;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    font-size: 0.9em;
    transition: all 0.4s linear;
}

.button-open-settings:hover {
    color: #e2e2e2;
    text-decoration: underline;
}

.settings {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100vh; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 10;
    background-color: var(--white-color);
    color: var(--black-text-color);
}

.display-settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: display-settings 0.6s ease-out forwards;
}

@keyframes display-settings {
    from { height: 0vh }
    to { height: 100vh }
}

.settings-header-and-menu {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    margin-bottom: 15px;
}

.settings-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.settings-header h1 {
    font-size: 0.85em;
    font-weight: 400;
}

.button-close-settings {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    font-weight: 700;
    border: none;
    color: var(--white-color);
    background-color: #d33232;
    transition: background-color 0.4s linear;
}

.button-close-settings:hover {
    background-color: #e45e5e;
}

.settings-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-display-preferences,
.button-display-statistics {
    border: none;
    padding: 20px 10px;
    font-size: 0.95em;
    font-weight: 700;
    color: var(--black-text-color);
    background-color: transparent;
}

.settings-menu-background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.preferences-has-background,
.statistics-has-background {
    transition: margin-left 0.3s linear;
}

.preferences-has-background {
    margin-left: 0;
}

.statistics-has-background {
    margin-left: 50%;
}

.difficulty {
    position: relative;
    width: 94%;
    margin: 0 auto;
}

.difficulty h2 {
    font-size: 1em;
    margin-bottom: 6px;
}

.difficulty-option {
    margin-bottom: 17px;
}

.difficulty-option:last-of-type {
    margin-bottom: 0;
}

.difficulty-option p {
    font-size: 0.9em;
}

.difficulty-option p:first-of-type {
    font-weight: 700;
    margin-bottom: 3px;
}

.difficulty-option p:last-of-type {
    color: var(--black-text-color);
    margin-bottom: 5px;
}

.difficulty-option span {
    font-weight: 700;
    color: var(--main-color);
}

.difficulty-option button {
    padding: 8px 10px;
    text-align: left;
    border: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 2px;
    transition: background-color 0.4s linear;
}

.difficulty-option button:hover {
    background-color: var(--main-color) !important;
}

.settings hr {
    height: 1px;
    width: 94%;
    border-width: 0;
    margin: 25px 3% 22px 3%;
    color: var(--black-small-opacity);
    background-color: var(--black-small-opacity);
}

.sound-effects {
    width: 94%;
    margin: 0 auto;
}

.sound-effects h2 {
    font-size: 1em;
}

.sound-effects p {
    font-size: 0.9em;
    margin: 4px 0 8px 0;
}

.sound-effects-options {
    display: grid;
    justify-content: flex-start;
    grid-template-areas: "disable-sound-effects";
}

.sound-effects-options-enabled {
    grid-template-areas: "enable-sound-effects";
}

.button-disable-sound-effects {
    grid-area: disable-sound-effects;
}

.button-enable-sound-effects {
    grid-area: enable-sound-effects;
    display: none;
}

.sound-effects-options button {
    padding: 8px 10px;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: background-color 0.4s linear;
}

.sound-effects-options button:hover {
    background-color: rgb(194, 104, 105);
}

.statistics {
    display: none;
}

.games-played-on-each-difficulty,
.highest-score-on-each-difficulty,
.average-score-on-each-difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highest-score-on-each-difficulty {
    margin: 20px 0;
}

.games-played-on-each-difficulty h2,
.highest-score-on-each-difficulty h2,
.average-score-on-each-difficulty h2 {
    font-size: 0.95em;
    margin-bottom: 5px;
}

.games-played-on-each-difficulty table,
.games-played-on-each-difficulty td,
.highest-score-on-each-difficulty table,
.highest-score-on-each-difficulty td,
.average-score-on-each-difficulty table,
.average-score-on-each-difficulty td {
    border: 1px solid var(--black-small-opacity);
    border-collapse: collapse;
    font-size: 0.95em;
}

.td-difficulty,
.td-statistic {
    padding: 5px 0;
    width: 90px;
    text-align: center;
}

.td-difficulty {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    color: #3f3f3f;
}

.button-clear-statistics {
    display: block;
    margin: 30px auto 0 auto;
    padding: 8px 10px;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: background-color 0.4s linear;
}

.button-clear-statistics:hover {
    background-color: rgb(194, 104, 105);
}

.error-notification {
    display: none;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 10px;
    border: 3px solid #d6d6d6;
    border-radius: 10px;
    text-align: center;
    background-color: var(--white-color);
    color: var(--black-text-color);
    box-shadow: 0 0 15px 5px var(--black-small-opacity);
}

.error-notification img {
    width: 48px;
}

.error-notification h1 {
    font-size: 0.95em;
    margin: 4px 0 5px 0;
}

.error-notification p {
    font-size: 0.9em;
}

.motivation-message {
    display: none;
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: var(--white-color);
    font-weight: 700;
}

.motivation-message span {
    font-size: 1.3em;
}

/* Media queries */
@media (min-width: 550px) {

    header {
        padding-top: 45px;
    }
    
    header h1 {
        font-size: 1.8em;
        margin-bottom: 7px;
    }
    
    header h2 {
        font-size: 1em;
    }
    
    main {
        width: 500px;
    }

    .main-header h2 {
        font-size: 0.95em;
    }

    .remaining-time {
        font-size: 0.9em;
    }

    .input-word {
        width: 250px;
        font-size: 1em;
    }

    .main-footer {
        font-size: 0.9em;
    }

    .settings {
        width: 500px;
        height: 85vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: hidden;
        border: 5px solid var(--black-small-opacity);
    }

    .display-settings {
        animation: none;
    }

}